<table border="1">
    <tr>
        <th>Title</th>
        <th>City</th>
        <th>Dist</th>
        <th>Des</th>
        <th>Tag</th>
    </tr>
    <tr>
        <th>{{title}}</th>
        <th>{{city}}</th>
        <th>{{district}}</th>
        <th>{{description}}</th>
        <th>{{tag}}</th>
    </tr>
</table>